.myImage4 {
    border: 0;
    display: inline-block;
    position: absolute;
    box-sizing: border-box;
    justify-content: space-around;
    left: 0%;

}
.myImage4 .subImage
{
    padding-top: 70px;
    padding-left: 50px;
}
.myImage4 .subElement
{
    width:480px;
}
.myImage4 #originalImg
{
    z-index:0;
    position: absolute;
    top:70px;
    left:50px;
    max-height:500px;
    width:auto;
}
.myImage4 #pre_ori
{
    z-index:1;
    position: absolute;
    top:70px;
    left:50px;
    max-height:500px;
    width:auto;

}
.myImage4 #preImg
{
    z-index:2;
    position: absolute;
    top:100px;
    left:80px;
    max-height:500px;
    width:auto;   
}
.myImage4 #preHisto
{
    z-index:3;
    display: none;
    border: 2px;
    border-style: solid;
    position: absolute;
    top:130px;
    left:110px;
}
.myImage4 #preCav
{
    z-index:4;
    display: none;
    position: absolute;
    top:70px;
    left:450px;
}